/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TrackedItem {
 width: 510px;
}

.TrackedItem.Smaller .icon {
  margin-right: 10px;
}

.ItemPrize {
  width: 190px;
  float: left;
  text-align:center;
  border: 1px rgba(84, 84, 84, 0.65) solid;
}

.ItemPrize .icon {
  margin-top: 7px;
  margin-right: 7px;
}

.Smaller .ItemPrize {
 width: 105px;
}

/* Fake (pseudo) element, that enables vertical-align */
.ItemPrize:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.Selectable:hover {
  cursor: pointer;
}

.OneLine {
  height: 67px;
}
/* Fake (pseudo) element, that enables vertical-align */
.OneLine:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.TwoLines {
  height: 100px;
}

.EnemyPool {
  float: left;
  position: relative;
  text-align:center;
  width: 290px;
  border: 1px rgba(84, 84, 84, 0.65) solid;
}

.EnemyPool .icon {
  margin-top: 9px;
  margin-right: 7px;
}

.EnemyPool .DropRate {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #056805;
  color: #fff;
  width: 40px;
  font-weight: bold;
}

.Smaller .EnemyPool {
  width: 135px;
}

.EnemyPool .title {
  font-weight: bold;
}

.clear {
  clear: left;
}

.icon {
  background-image: url(sprites.png);
  scale: 1.5;
  display:inline-block;
}

.PrizeModal {
  position: fixed;
  z-index: 999;
  top: 20%;
  left: 50%;
  width: 182px;
  margin-left: -110px;
  background-color: #000;
  border: 1px #ff0000 solid;
}

.PrizeModal .Item {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  border: 1px rgba(84, 84, 84, 0.65) solid;
}

/* Fake (pseudo) element, that enables vertical-align */
.PrizeModal .Item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.PrizeModal .Item:hover {
  border: 1px rgba(206, 202, 202, 0.65) solid;
  cursor: pointer;
}

.PrizeModal .icon {
  scale: 1.5;
  margin-top: 15px;
}

.PrizePackModal {
  position: fixed;
  z-index: 999;
  top: 10%;
  left: 50%;
  width: 212px;
  margin-left: -110px;
  background-color: #000;
  border: 1px #ff0000 solid;
}

.PrizePackModal .Item {
  width: 210px;
  height: 50px;
  display: inline-block;
  text-align: center;
  border: 1px rgba(84, 84, 84, 0.65) solid;
}

/* Fake (pseudo) element, that enables vertical-align */
.PrizePackModal .Item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.PrizePackModal .Item:hover {
  border: 1px rgba(206, 202, 202, 0.65) solid;
  cursor: pointer;
}

.PrizePackModal .icon {
  scale: 1.5;
  margin-top: 15px;
  margin-right: 10px;
}

.Question {
  width: 16px;
  height: 16px;
  background-position: -501px 0px;
}

.GreenRupee {
  width: 8px;
  height: 16px;
  background-position: -351px -5px;
}

.BlueRupee {
  width: 8px;
  height: 16px;
  background-position: -351px -23px;
}

.RedRupee {
  width: 8px;
  height: 16px;
  background-position: -351px -43px;
}

.Heart {
  width: 8px;
  height: 7px;
  background-position: -394px -8px;
}

.FullMagic {
  width: 8px;
  height: 15px;
  background-position: -373px -23px;
}

.SmallMagic {
  width: 8px;
  height: 8px;
  background-position: -373px -8px;
}

.Fairy {
  width: 16px;
  height: 16px;
  background-position: -389px -22px;
}

.OneBomb {
  width: 14px;
  height: 15px;
  background-position: -414px -4px;
}

.FourBombs {
  width: 14px;
  height: 15px;
  background-position: -414px -24px;
}

.EightBombs {
  width: 14px;
  height: 15px;
  background-position: -414px -43px;
}

.FiveArrows {
  width: 10px;
  height: 16px;
  background-position: -444px -4px;
}

.TenArrows {
  width: 10px;
  height: 16px;
  background-position: -443px -23px;
}
/*********************/

.Fish {
  width: 15px;
  height: 9px;
  background-position: -471px -6px;
}

.BushCrab {
  width: 16px;
  height: 21px;
  background-position: -471px -29px;
}

.Tree {
  width: 32px;
  height: 40px;
  background-position: -525px -25px;
  cursor: pointer;
}
/*********************/

.BlueBoomerang {
  width: 8px;
  height: 12px;
  background-position: -465px -62px;
}

.RedBoomerang {
  width: 8px;
  height: 12px;
  background-position: -481px -62px;
}

.Hookshot {
  width: 7px;
  height: 16px;
  background-position: -497px -60px;
}

.FrozenHammer {
  width: 16px;
  height: 16px;
  background-position: -464px -80px;
  margin-left: 20px;
  cursor: pointer;
}

/*********************/
.Moblin {
  width: 16px;
  height: 28px;
  background-position: 0px -2px;
}

.BlueSwordGuard {
  width: 22px;
  height: 33px;
  background-position: -156px -1px;
}

.GreenSwordGuard {
  width: 22px;
  height: 38px;
  background-position: -182px -1px;
}

.BlueTarosu {
  width: 23px;
  height: 31px;
  background-position: -20px -2px;
}

.BushStal {
  width: 16px;
  height: 21px;
  background-position: -234px -36px;
}

.Crab {
  width: 24px;
  height: 16px;
  background-position: -73px -40px;
}

.GreenDaggerGuard {
  width: 16px;
  height: 27px;
  background-position: -208px -2px;
}

.GreenLeever {
  width: 16px;
  height: 16px;
  background-position: -185px -41px;
}

.GreenSpearGuard {
  width: 22px;
  height: 33px;
  background-position: -131px -1px;
}

.GreenZirro {
  width: 18px;
  height: 16px;
  background-position: -132px -40px;
}

.PurpleLeever {
  width: 16px;
  height: 16px;
  background-position: -107px -40px;
}

.QuakeSlime {
  width: 16px;
  height: 15px;
  background-position: -209px -40px;
}

.RedSpearShieldGuard {
  width: 23px;
  height: 32px;
  background-position: -75px 1px;
}

.RedTarous {
  width: 23px;
  height: 30px;
  background-position: -48px -2px;
}

.SkeletalWizzrobe {
  width: 16px;
  height: 24px;
  background-position: 0px -37px;
}

.Snake {
  width: 15px;
  height: 16px;
  background-position: -48px -40px;
}

.Toppo {
  width: 16px;
  height: 16px;
  background-position: -160px -40px;
  cursor: pointer;
}

.Wizzrobe {
  width: 16px;
  height: 24px;
  background-position: -23px -37px;
}
/***************/
.BallAndChainGuard {
  width: 26px;
  height: 25px;
  background-position: -199px -85px;
}

.BlueDevalant {
  width: 32px;
  height: 32px;
  background-position: -107px -123px;
}

.BlueTektite {
  width: 28px;
  height: 16px;
  background-position: -45px -116px;
}

.Buzz {
  width: 16px;
  height: 16px;
  background-position: -1px -118px;
}

.Geldman {
  width: 41px;
  height: 16px;
  background-position: -143px -89px;
}

.Hover {
  width: 16px;
  height: 14px;
  background-position: -233px -89px;
}

.Kyune {
  width: 16px;
  height: 16px;
  background-position: -82px -118px;
}

.MiniMoldorm {
  width: 23px;
  height: 27px;
  background-position: -194px -118px;
}

.Octorok {
  width: 16px;
  height: 17px;
  background-position: -171px -122px;
}

.Pikit {
  width: 16px;
  height: 16px;
  background-position: -146px -123px;
}

.Popo {
  width: 16px;
  height: 16px;
  background-position: -23px -119px;
}

.Rat {
  width: 15px;
  height: 16px;
  background-position: -1px -90px;
}

.RedDevalant {
  width: 32px;
  height: 32px;
  background-position: -107px -85px;
}

.RedHardhatBeetle {
  width: 16px;
  height: 21px;
  background-position: -80px -88px;
}

.RedTektite {
  width: 28px;
  height: 16px;
  background-position: -45px -88px;
}

.Ropa {
  width: 16px;
  height: 21px;
  background-position: -21px -87px;
}

.Terrorpin {
  width: 16px;
  height: 16px;
  background-position: -226px -125px;
}
/*************************************/
.Buzzblob {
  width: 12px;
  height: 20px;
  background-position: -431px -79px;
}

.Gibdo {
  width: 16px;
  height: 24px;
  background-position: -402px -76px;
}

.Pengator {
  width: 16px;
  height: 24px;
  background-position: -376px -76px;
}

.RedSpearGuard {
  width: 21px;
  height: 23px;
  background-position: -345px -77px;
}
/*************************************/
.BombGuard {
  width: 27px;
  height: 31px;
  background-position: -525px -113px;
}

.FloatingStal {
  width: 12px;
  height: 14px;
  background-position: -503px -117px;
  cursor: pointer;
}

.Hinox {
  width: 33px;
  height: 32px;
  background-position: -459px -112px;
}

.Ku {
  width: 16px;
  height: 16px;
  background-position: -432px -115px;
}

.Sluggula {
  width: 14px;
  height: 16px;
  background-position: -405px -115px;
}

.StalfosKnight {
  width: 24px;
  height: 36px;
  background-position: -368px -111px;
}

.Zora {
  width: 16px;
  height: 21px;
  background-position: -347px -115px;
}
/*************************************/
.ArmosStatue {
  width: 16px;
  height: 31px;
  background-position: -94px -176px;
}

.BlueArcher {
  width: 22px;
  height: 27px;
  background-position: -61px -195px;
}

.GreenArcher {
  width: 18px;
  height: 28px;
  background-position: -64px -167px;
}

.GreenEyegore {
  width: 24px;
  height: 23px;
  background-position: -30px -192px;
}

.GreenMimic {
  width: 22px;
  height: 23px;
  background-position: -3px -193px;
}

.RedEyegore {
  width: 24px;
  height: 23px;
  background-position: -30px -167px;
}

.RedMimic {
  width: 22px;
  height: 23px;
  background-position: -2px -167px;
}
/*************************************/
.BlueBari {
  width: 14px;
  height: 15px;
  background-position: -433px -180px;
}

.BlueHardhatBeetle {
  width: 16px;
  height: 21px;
  background-position: -412px -179px;
}

.BlueStalfos {
  width: 16px;
  height: 25px;
  background-position: -392px -179px;
}

.BlueZazak {
  width: 21px;
  height: 24px;
  background-position: -368px -179px;
}

.Crow {
  width: 16px;
  height: 16px;
  background-position: -348px -179px;
}

.GreenKodongo {
  width: 16px;
  height: 16px;
  background-position: -326px -180px;
}

.GreenSlime {
  width: 12px;
  height: 14px;
  background-position: -307px -178px;
}

.Poe {
  width: 16px;
  height: 16px;
  background-position: -288px -179px;
}

.RedBari {
  width: 14px;
  height: 15px;
  background-position: -269px -179px;
}

.RedKodongo {
  width: 16px;
  height: 16px;
  background-position: -246px -178px;
}

.RedSlime {
  width: 12px;
  height: 14px;
  background-position: -228px -179px;
}

.RedStalfos {
  width: 16px;
  height: 25px;
  background-position: -206px -177px;
}

.RedZazak {
  width: 21px;
  height: 24px;
  background-position: -182px -178px;
}

.Vulture {
  width: 24px;
  height: 13px;
  background-position: -153px -179px;
}

.YellowSlime {
  width: 12px;
  height: 14px;
  background-position: -131px -179px;
}
/*************************************/
.BlueZirro {
  width: 18px;
  height: 16px;
  background-position: -655px -176px;
}

.BluesainBolt {
  width: 21px;
  height: 23px;
  background-position: -676px -175px;
}

.Keese {
  width: 12px;
  height: 14px;
  background-position: -638px -177px;
  cursor: pointer;
}

.Lynel {
  width: 22px;
  height: 25px;
  background-position: -609px -174px;
}

.MiniHelmasaur {
  width: 16px;
  height: 15px;
  background-position: -588px -174px;
}

.Pokey {
  width: 14px;
  height: 39px;
  background-position: -569px -174px;
}

.RedBushSpearGuard {
  width: 22px;
  height: 28px;
  background-position: -542px -174px;
}

.SnapDragon {
  width: 23px;
  height: 15px;
  background-position: -515px -175px;
}

.Stalrope {
  width: 15px;
  height: 16px;
  background-position: -493px -176px;
}

.YellowStalfos {
  width: 16px;
  height: 24px;
  background-position: -468px -175px;
}